<!DOCTYPE html>
<html>
    <head>
        <title>Blog Website</title>
        <link rel="stylesheet" href="index.css";>
    </head>
    <body>
        <div class="container">
            <h1>Blogger</h1>
        </div>
    </body>
</html>