<%- include("header.ejs")  %>
<body>
<h1>THE WIZARDING WORLD</h1>
        <div class="container">
            <form class="custom-select" action="/type" method="post">
            <select name="type" id="type" class="select-type">
                <option value="books">Books</option>
                <option value="characters">Characters</option>
                <option value="movies">Movies</option>
                <option value="potions">Potions</option>
                <option value="potions">Spells</option>
            </select>
            <input type="submit" name="submit" class="submit">
        </form>
        
        </div>
    </body>