.login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/pattern_waves.png');
}

.login_form{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #008DDA;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #F2613F;
}
.login_input{
    width: 85%;
    border:none;
    border-bottom: 2px solid #F2613F;
    background-color: transparent;
    color: #FEFDED;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    border-radius: 5px;
    padding-left: 5px;
}
.login_input::placeholder{
    color: whitesmoke;
}
.login_input:focus{
    outline: none;
}
.login_form > .loginButton{
    width: 90%;
    height: 40px;
    margin: 0;
    border: none;
    border-radius: 20px;
    color: #FEFDED;
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  justify-content: center;
    background-color: whitesmoke;
    color: #F2613F;
    cursor: pointer;
}
.login_form >.loginButton:hover{
    transform: scale(1.02);
}
.login_form > p{
    font-size: 20px;
    color: #FEFDED;
    margin:0px;
}
.signupbutton{
    margin-left: 10px;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    border: 0px;
    box-shadow: 0px 0px 3px grey;
    cursor: pointer;
    font-size: 20px;
    color: #F2613F;
    font-weight: 700;
}
.signupbutton:hover{
    transform: scale(1.05);
}